h1{
    text-shadow: 10px 10px 10px orange,
                 10px 10px 30px magenta,
                 10px 10px 10px orangered;
                

}

ul {
   list-style-type:none; 
   padding-inline-start: 0;   /* same as padding-left: 0 */
   
}
/*
li{

    float: left;  /* tous les elements de la liste float à gauche donc les elements suivants se met à droite *//*
    margin-bottom: 20px;
} */

li{
    display: inline-block;
}
main{
    clear: left;   /* ça sert à annuler la float: left des <li> */
}

a{
    display: block;
    text-decoration: none;
    color: black;
    border: 1px solid;
    width: 100px;
    text-align: center;
    margin-right: 25px;
    padding: 10px;
    
}


#tableau {
    display: table;
}

.rangee {
    display: table-row;
}

.rangee div {
    display: table-cell;
    padding: 10px;
}

.rangee div p{
    text-align: right;
    margin: 0;
}

input[type=text], input[type=password], input[type=submit]{
    border: 2px solid;
    border-radius: 20px;
    padding: 5px;
}


@keyframes special {    /*  Petit animation qui fait transformer le main header  */

    0% {    text-shadow: 10px 10px 10px orange,
            10px 10px 30px magenta,
            10px 10px 10px orangered;}
    25% {    text-shadow: 10px 10px 10px orange,
            10px 15px 30px magenta,
            15px 15px 10px orangered;}
    50% {    text-shadow: 10px 10px 10px orange,
            15px -5px 30px magenta,
            20px -5px 10px orangered;}
    75%{    text-shadow: 10px 10px 10px orange,
            -10px -15px 30px magenta,
            -10px -15px 10px orangered;}
    100% {    text-shadow: 10px 10px 10px orange,
            -15px 10px 30px magenta,
            -15px 10px 10px orangered;}
}   

h1:hover {      /*  Pour que l'animation commence quand le souris est sur le header et qu'il dur 6 seconds  */
    animation-name: special;
    animation-duration: 4s;   

}