body {
    background-color: #f4d292;
}

h1 {
    text-align: center;
    font-family: cursive;
    text-decoration: underline;
}

#gallows {
    margin: 3vw 34vw 0 34vw;
    width: 33vw;
}

.hangGallows {
    float: left;
    width: 5vw;
    height: 4vw;
    text-align: center;
    font-size: 3em;
}

#hangStart{
    margin:  auto;
    padding: 10px;
    display: block;
}

#hangDisplay{
    clear: left;
    margin: 20 auto;
    text-align: center;
}