body{
    background-color: #f4d292;
    font-family: cursive;
    font-size: 24px;
}

#SimonField{
   margin: 0 auto;
   width: 60%;
}

#SimonTab{
    margin: 0 auto;
}

#SimonTab button{
    height: 200px;
    width: 200px;
    background-color: antiquewhite;
    border-radius: 10%;
}

h2{
    text-align: center;
}