footer {
    position: sticky;
    text-align: center;
    font-style: italic;
    font-family: cursive;
    bottom: 0;
}

#copyright{                 
    transition: transform 50s ease-in-out;
}

#copyright:hover {
    transform: rotateY(-36000deg);
   
}


body{
    background-color: #f4d292;
    font-family: cursive;
}

h1{
    text-align: center;
    text-decoration: underline;
    font-size: 48px;
}

button{
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-left: 47%;

}

#home{
    display: block;
}