footer {
    position: sticky;
    text-align: center;
    font-style: italic;
    font-family: cursive;
    bottom: 0;
}

#copyright{                 
    transition: transform 50s ease-in-out;
}

#copyright:hover {
    transform: rotateY(-36000deg);
   
}

body{
    background-color: #f4d292;
    font-family: cursive;
    font-size: 24px;
}

h1{
    text-align: center;
    text-decoration: underline;
    font-size: 48px;
}

h2{
    text-decoration: underline;
    font-size: 24px;
}

div{
    padding: 50px;

}

ul{
    padding-left: 100px;
}

button{
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-left: 47%;

}

#home{
    display: block;
}

#mathTab{
    padding-left: 1060px;
}

#homediv{
    padding-left: 850px;
}

#simonTab{
    padding-left: 400px;
}

#simonTab tr{
    height: 200px;
    width: 500px;
    border: 2px solid;
}

#simonTab td{
    height: 200px;
    width: 500px;
    border: 2px solid;
}

.hidden{
    border: none !important;
    color: red;
}

#butRed{
    background-color: red;
}
#butGre{
    background-color: green;
}
#butYel{
    background-color: yellow;
}
#butBlu{
    background-color: blue;
}

#butStart{
    background-color: darkgoldenrod;
    text-align: center;
}

.dimmed{
    opacity: 0.4;
}